
#GITLAB_ACCESS_TOKEN=glpat-4L64aXVz8qmHfKMBdDHQ

# Set URL for your scoped packages.
#token = jM4mPuwDZWJhptfLUJS8
#token crud = SKVLyNzCRe8MBeTEUkvy
# For example package with name `@my-org/my-package` will use this URL for download
 #@leeurope:registry=https://gitlab.com/api/v4/projects/33594723/packages/npm/
 #@leeurope:registry=https://gitlab.com/api/v4/projects/33594742/packages/npm/

# Add the token for the scoped packages URL. This will allow you to download
# `@my-org/` packages from private projects.


# Add token for uploading to the registry. Replace <your-project-id>
# with the project you want your package to be uploaded to.
#'//gitlab.com/api/v4/projects/33594723/packages/npm/:_authToken'="${GITLAB_ACCESS_TOKEN}"
@pmhg:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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